# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/HelloWorldJavaGit/nbproject/private/
/HelloWorldJavaGit/build/
/Homework/Homework 1/PR1_1-DataOnly/nbproject/private/
/Homework/Homework 1/PR1_1-DataOnly/build/
/Homework/Homework 1/PR1_3-JavaDoc/nbproject/private/
/Homework/Homework 1/PR1_4-Area of a Circle/nbproject/private/
/Homework/Homework 1/PR1_4-Area of a Circle/build/
/Homework/Homework 1/PR1_5-Random Numbers/nbproject/private/
/Homework/Homework 1/PR1_5-Random Numbers/build/
/Homework/Homework 1/PR1_6-Prime Numbers/nbproject/private/
/Homework/Homework 1/PR1_6-Prime Numbers/build/
/Homework/Homework 1/PR1_6-Prime Numbers/dist/
/Homework/Homework 1/JavaApplication6/nbproject/private/
/Homework/Homework 1/JavaApplication6/build/
/Homework/Homework 1/PR1_2-Command Line/dist/
/Homework/Homework 1/PR1_4-Area of a Circle/dist/
/Homework/Homework 1/PR1_5-Random Numbers/dist/
/Homework/Homework2/JavaApplication7/nbproject/private/
/Homework/Homework2/JavaApplication7/build/
/Homework/Homework2/GerbilMaps/nbproject/private/
/Homework/Homework2/GerbilMaps/build/
/Homework/Homework2/CS372.CalculatingPI/nbproject/private/
/Homework/Homework2/CS372.CalculatingPI/build/
/Homework/Homework2/CS372.CalculatingPI/dist/
/In-Class Programs/JavaApplication10/nbproject/private/
/In-Class Programs/JavaApplication10/build/
/In-Class Programs/CalculatingPI-UI/nbproject/private/
/In-Class Programs/CalculatingPI-UI/build/
/Homework/Homework2/HomeworkTracker/nbproject/private/
/Homework/Homework2/HomeworkTracker/build/